EMBEDDING_MODEL=bge-m3
EMBEDDING_BATCH_SIZE=64

# CHAT_MODEL=qwen2.5:3b-instruct
CHAT_MODEL=qwen2.5:7b

OLLAMA_HOST=http://localhost:11434
OLLAMA_NUM_CTX=8192
QUERY_EMBED_ON_CPU=true

CHROMA_DB_PATH=./chroma_data
# CHROMA_COLLECTION_PREFIX=contracts
CHROMA_COLLECTION_PREFIX=contracts_rel
ANONYMIZED_TELEMETRY=False
